<!-- Hero Section Begin -->
<section class="hero">
	<div class="hero__slider owl-carousel">
		<div class="hero__items set-bg" data-setbg="/img/hero/hero-1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-7 col-md-8">
						<div class="hero__text">
							<h6>Summer Collection</h6>
							<h2>Fall - Winter Collections 2030</h2>
							<p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
								commitment to exceptional quality.</p>
							<a href="/product" class="primary-btn">Shop now <span class="arrow_right"></span></a>
							<div class="hero__social">
								<a href="#"><i class="fa-brands fa-facebook"></i></a>
								<a href="#"><i class="fa-brands fa-twitter"></i></a>
								<a href="#"><i class="fa-brands fa-pinterest"></i></a>
								<a href="#"><i class="fa-brands fa-instagram-square"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="hero__items set-bg" data-setbg="/img/hero/hero-2.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-7 col-md-8">
						<div class="hero__text">
							<h6>Summer Collection</h6>
							<h2>Fall - Winter Collections 2030</h2>
							<p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
								commitment to exceptional quality.</p>
							<a href="/product" class="primary-btn">Shop now <span class="arrow_right"></span></a>
							<div class="hero__social">
								<a href="#"><i class="fa-brands fa-facebook"></i></a>
								<a href="#"><i class="fa-brands fa-twitter"></i></a>
								<a href="#"><i class="fa-brands fa-pinterest"></i></a>
								<a href="#"><i class="fa-brands fa-instagram-square"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="filter__controls">
				</ul>
			</div>
		</div>
		<div class="row product__filter d-flex justify-content-between">
			{{#each products}}
			<div>
				<div class="card" style="width: 18rem;">
					<a href="/product/{{_id}}">
						<img class="card-img-top" src="{{thumb}}" alt="Card image cap">
					</a>
					<div class="card-body" id="card-body">
						<a href="/product/{{_id}}">
							<h5 id="product-name"><b>{{name}}</b></h5>
						</a>
						<input type="hidden" name="id" value="{{_id}}">
                        {{#if onStock}}
                            <h5>${{price}}</h5>
                        {{else if comingSoon}}
                            <span style="color: blue; font-style: italic">Coming soon</span>
                        {{else outStock}}
                            <span style="color: red; font-style: italic">Out of stock</span>
                        {{/if}}
						<div class="product__color__select">
							{{#each color}}
							<label for="pc-17" style="background-color: {{this}};">
							</label>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
<!-- Product Section End -->

<!-- About Section Begin -->
<section class="about spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="about__pic">
					<img src="/img/about/about-us.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="about__item">
					<h4>Who We Are ?</h4>
					<p>Contextual advertising programs sometimes have strict policies that need to be adhered too.
						Let’s take Google as an example.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="about__item">
					<h4>Who We Do ?</h4>
					<p>In this digital generation where information can be easily obtained within seconds, business
						cards still have retained their importance.</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="about__item">
					<h4>Why Choose Us</h4>
					<p>A two or three storey house is the ideal way to maximise the piece of earth on which our home
						sits, but for older or infirm people.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 p-0">
				<div class="testimonial__text">
					<span class="icon_quotations"></span>
					<p>“Going out after work? Take your butane curling iron with you to the office, heat it up,
						style your hair before you leave the office and you won’t have to make a trip back home.”
					</p>
					<div class="testimonial__author">
						<div class="testimonial__author__text">
							<h5>Nguyen Thanh Quan</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 p-0">
				<div class="testimonial__pic set-bg" data-setbg="img/about/testimonial-pic.jpg"></div>
			</div>
		</div>
	</div>
</section>
<!-- Testimonial Section End -->

<!-- Team Section Begin -->
<section class="team spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<span>Our Team</span>
					<h2>Meet Our Team</h2>
				</div>
			</div>
		</div>
		<div class="row d-flex justify-content-center" style="padding-left: 30px;">
			<div class="col-4">
				<div class="team__item">
					<img src="/img/about/team-1.jpg" alt="">
					<h4>Nguyen Thanh Quan</h4>
					<span>Full-Stack Developer</span>
				</div>
			</div>
			<div class="col-4">
				<div class="team__item">
					<img src="/img/about/team-2.jpg" alt="">
					<h4>Phung Anh Khoa</h4>
					<span>Full-Stack Developer</span>
				</div>
			</div>
			<div class="col-4">
				<div class="team__item">
					<img src="/img/about/team-3.jpg" alt="">
					<h4>Nguyen Phan Vu</h4>
					<span>Full-Stack Developer</span>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Team Section End -->

{{#if message}}
<script>
	alert('{{message}}');
</script>
{{/if}}